In [129]:
import numpy as np
import pandas as pd
import os

## Load Data

In [151]:
# Data OHLCV
ohlcv = pd.read_csv('/home/dat/Desktop/RL project/env/main/mirae_OS_ts/1m/VN30F1M.csv',index_col = 0 ,parse_dates= True)
ohlcv = ohlcv.resample('5min').agg({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum',
    'buy_vol':'sum',
    'sell_vol': 'sum',
    'fr_buy_vol': 'sum',
    'fr_sell_vol': 'sum',
    'val': 'sum'
}).dropna()
ohlcv.index =  ohlcv.index + pd.Timedelta(minutes=5)
ohlcv.head(10)

,Open,High,Low,Close,Volume,buy_vol,sell_vol,fr_buy_vol,fr_sell_vol,val
Date,,,,,,,,,,
2022-09-05 02:05:00,1294.0,1295.2,1293.5,1293.9,3624.0,842.0,2637.0,4.0,187.0,4690470.2
2022-09-05 02:10:00,1294.0,1294.4,1293.7,1293.7,1236.0,654.0,580.0,11.0,5.0,1599541.8
2022-09-05 02:15:00,1293.8,1293.8,1292.9,1293.2,1728.0,761.0,967.0,0.0,17.0,2234781.8
2022-09-05 02:20:00,1293.0,1294.7,1293.0,1294.7,2125.0,1237.0,835.0,21.0,4.0,2749823.7
2022-09-05 02:25:00,1294.7,1294.8,1293.8,1294.0,2225.0,724.0,1370.0,8.0,22.0,2879728.9
2022-09-05 02:30:00,1293.9,1294.3,1293.3,1293.4,1154.0,227.0,914.0,0.0,59.0,1492805.0
2022-09-05 02:35:00,1293.3,1293.7,1293.1,1293.6,1370.0,406.0,893.0,15.0,4.0,1772010.9
2022-09-05 02:40:00,1293.6,1294.3,1293.5,1293.9,1152.0,748.0,312.0,11.0,6.0,1490611.9
2022-09-05 02:45:00,1294.0,1294.0,1293.5,1293.9,662.0,340.0,322.0,3.0,4.0,856500.0
2022-09-05 02:50:00,1293.9,1294.7,1293.6,1294.3,2076.0,1261.0,756.0,0.0,20.0,2686901.5

In [155]:
# Data alpha pnl
folder_path = '/home/dat/Desktop/RL project/env/main/pnl'
alpha_pnl = {}

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        alpha_pnl[filename[:-4]] = pd.read_csv(file_path, index_col = 0, parse_dates=True)[['TOTAL','value']].reindex(ohlcv.index).ffill()
alpha_pnl

{'VN_event_mfi_gap_co_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00 -6.725760e+06 -6.725760e+06
 2022-09-05 02:15:00 -7.642909e+06 -1.436867e+07
 2022-09-05 02:20:00  2.292873e+07  8.560058e+06
 2022-09-05 02:25:00 -1.070007e+07 -2.140015e+06
 ...                           ...           ...
 2023-12-29 07:20:00  2.209579e+07  2.195391e+10
 2023-12-29 07:25:00 -8.034833e+06  2.194587e+10
 2023-12-29 07:30:00 -1.205225e+07  2.193382e+10
 2023-12-29 07:35:00 -2.008708e+06  2.193181e+10
 2023-12-29 07:50:00 -1.275530e+07  2.191906e+10

 [17038 rows x 2 columns],
 'DMI_top30stock_10m_1':                      TOTAL         value
 Date
 2022-09-05 02:05:00    NaN           NaN
 2022-09-05 02:10:00    0.0  0.000000e+00
 2022-09-05 02:15:00    0.0  0.000000e+00
 2022-09-05 02:20:00    0.0  0.000000e+00
 2022-09-05 02:25:00    0.0  0.000000e+00
 ...                    ...           ...
 2023-12-29 07:20:00    0.0  7.784427e+09
 2023-12-29 07:25:00    0.0  7.784427e+09
 2023-12-29 07:30:00    0.0  7.784427e+09
 2023-12-29 07:35:00    0.0  7.784427e+09
 2023-12-29 07:50:00    0.0  7.784427e+09

 [17038 rows x 2 columns],
 'InverseFisher_RSI_alpha_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00 -1.341340e+07 -1.341340e+07
 2022-09-05 02:15:00 -1.524250e+07 -2.865591e+07
 2022-09-05 02:20:00  4.572751e+07  1.707160e+07
 2022-09-05 02:25:00 -2.133951e+07 -4.267901e+06
 ...                           ...           ...
 2023-12-29 07:20:00  4.288200e+07  3.777305e+10
 2023-12-29 07:25:00 -1.591794e+07  3.775714e+10
 2023-12-29 07:30:00 -2.387692e+07  3.773326e+10
 2023-12-29 07:35:00 -3.979486e+06  3.772928e+10
 2023-12-29 07:50:00 -2.526974e+07  3.770401e+10

 [17038 rows x 2 columns],
 'VN_gap_co_volume_support_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00 -5.244747e+06 -5.244747e+06
 2022-09-05 02:15:00 -5.959940e+06 -1.120469e+07
 2022-09-05 02:20:00  1.787982e+07  6.675133e+06
 2022-09-05 02:25:00 -8.343916e+06 -1.668783e+06
 ...                           ...           ...
 2023-12-29 07:20:00  4.617985e+07  3.737527e+10
 2023-12-29 07:25:00 -1.679267e+07  3.735847e+10
 2023-12-29 07:30:00 -2.518901e+07  3.733328e+10
 2023-12-29 07:35:00 -4.198168e+06  3.732909e+10
 2023-12-29 07:50:00 -2.665837e+07  3.730243e+10

 [17038 rows x 2 columns],
 'alpha_fr_ba_10m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00 -5.458233e+07  4.078429e+10
 2023-12-29 07:25:00 -5.458233e+07  4.078429e+10
 2023-12-29 07:30:00  4.205022e+07  4.082634e+10
 2023-12-29 07:35:00  4.205022e+07  4.082634e+10
 2023-12-29 07:50:00  2.372724e+07  4.085426e+10

 [17038 rows x 2 columns],
 'Buysellgap_top20stock_15m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  2.755719e+07  2.326252e+10
 2023-12-29 07:25:00  2.755719e+07  2.326252e+10
 2023-12-29 07:30:00 -2.119784e+06  2.326040e+10
 2023-12-29 07:35:00 -2.119784e+06  2.326040e+10
 2023-12-29 07:50:00 -2.119784e+06  2.326040e+10

 [17038 rows x 2 columns],
 'alpha_event_rsi_bgd10m_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  1.595969e+07  1.470063e+10
 2023-12-29 07:25:00 -5.803523e+06  1.469483e+10
 2023-12-29 07:30:00 -8.705285e+06  1.468612e+10
 2023-12-29 07:35:00 -1.450881e+06  1.468467e+10
 2023-12-29 07:50:00 -9.213093e+06  1.467546e+10

 [17038 rows x 2 columns],
 'alpha_doublegap_aroon_15m_1':                      TOTAL         value
 Date
 2022-09-05 02:05:00    NaN           NaN
 2022-09-05 02:10:00    NaN           NaN
 2022-09-05 02:15:00    0.0  0.000000e+00
 2022-09-05 02:20:00    0.0  0.000000e+00
 2022-09-05 02:25:00    0.0  0.000000e+00
 ...                    ...           ...
 2023-12-29 07:20:00    0.0  3.152988e+10
 2023-12-29 07:25:00    0.0  3.152988e+10
 2023-12-29 07:30:00    0.0  3.152988e+10
 2023-12-29 07:35:00    0.0  3.152988e+10
 2023-12-29 07:50:00    0.0  3.152988e+10

 [17038 rows x 2 columns],
 'sar_of_rsi_frbs_12m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00           NaN           NaN
 2022-09-05 02:20:00           NaN           NaN
 2022-09-05 02:25:00           NaN           NaN
 ...                           ...           ...
 2023-12-29 07:20:00  1.697671e+07  4.081921e+10
 2023-12-29 07:25:00  1.697671e+07  4.081921e+10
 2023-12-29 07:30:00  1.697671e+07  4.081921e+10
 2023-12-29 07:35:00  1.697671e+07  4.081921e+10
 2023-12-29 07:50:00  1.697671e+07  4.081921e+10

 [17038 rows x 2 columns],
 'cmo_softmax_mean_std_ab_uw_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00 -6.506703e+06 -6.506703e+06
 ...                           ...           ...
 2023-12-29 07:20:00  4.615504e+07  3.164371e+10
 2023-12-29 07:25:00 -1.678365e+07  3.162693e+10
 2023-12-29 07:30:00 -2.517548e+07  3.160175e+10
 2023-12-29 07:35:00 -4.195913e+06  3.159756e+10
 2023-12-29 07:50:00 -2.664405e+07  3.157091e+10

 [17038 rows x 2 columns],
 'alpha_ret_gapau_foreign_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00 -2.441569e+07  1.762979e+10
 2023-12-29 07:25:00  8.008903e+06  1.763780e+10
 2023-12-29 07:30:00  1.659893e+07  1.765440e+10
 2023-12-29 07:35:00  2.999090e+06  1.765740e+10
 2023-12-29 07:50:00  1.379581e+07  1.767120e+10

 [17038 rows x 2 columns],
 'Frama_alpha_30mbigger_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  4.623960e+07  4.530791e+10
 2023-12-29 07:25:00 -1.681440e+07  4.529109e+10
 2023-12-29 07:30:00 -2.522160e+07  4.526587e+10
 2023-12-29 07:35:00 -4.203600e+06  4.526167e+10
 2023-12-29 07:50:00 -2.669286e+07  4.523497e+10

 [17038 rows x 2 columns],
 'VN_buy_sell_vol_twap_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  4.620873e+07  3.362210e+10
 2023-12-29 07:25:00 -1.680318e+07  3.360530e+10
 2023-12-29 07:30:00 -2.520476e+07  3.358010e+10
 2023-12-29 07:35:00 -4.200794e+06  3.357590e+10
 2023-12-29 07:50:00 -2.667504e+07  3.354922e+10

 [17038 rows x 2 columns],
 'wave_period_ba_bgd15m_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  2.638271e+07  2.638271e+07
 2022-09-05 02:25:00 -1.183840e+07  1.454431e+07
 ...                           ...           ...
 2023-12-29 07:20:00  4.613383e+07  1.859232e+10
 2023-12-29 07:25:00  1.509834e+07  1.860742e+10
 2023-12-29 07:30:00  0.000000e+00  1.860742e+10
 2023-12-29 07:35:00  0.000000e+00  1.860742e+10
 2023-12-29 07:50:00  0.000000e+00  1.860742e+10

 [17038 rows x 2 columns],
 'Fisher_bidask_20m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00           NaN           NaN
 2022-09-05 02:20:00      0.000000  0.000000e+00
 2022-09-05 02:25:00      0.000000  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  42077.361703  2.173167e+10
 2023-12-29 07:25:00  42077.361703  2.173167e+10
 2023-12-29 07:30:00  42077.361703  2.173167e+10
 2023-12-29 07:35:00  42077.361703  2.173167e+10
 2023-12-29 07:50:00  42077.361703  2.173167e+10

 [17038 rows x 2 columns],
 'cci_heikin_bid_ask_resample15m_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00 -2.905200e+06 -2.905200e+06
 2022-09-05 02:15:00 -3.301363e+06 -6.206563e+06
 2022-09-05 02:20:00  9.904090e+06  3.697527e+06
 2022-09-05 02:25:00 -4.621909e+06 -9.243817e+05
 ...                           ...           ...
 2023-12-29 07:20:00  1.965865e+07  2.234630e+10
 2023-12-29 07:25:00 -7.148600e+06  2.233915e+10
 2023-12-29 07:30:00 -1.072290e+07  2.232843e+10
 2023-12-29 07:35:00 -1.787150e+06  2.232664e+10
 2023-12-29 07:50:00 -1.134840e+07  2.231530e+10

 [17038 rows x 2 columns],
 'Rank_TSF_openclose_stock_30m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00           NaN           NaN
 2022-09-05 02:20:00           NaN           NaN
 2022-09-05 02:25:00           NaN           NaN
 ...                           ...           ...
 2023-12-29 07:20:00  3.353918e+07  3.536717e+10
 2023-12-29 07:25:00  3.353918e+07  3.536717e+10
 2023-12-29 07:30:00 -5.030877e+07  3.531686e+10
 2023-12-29 07:35:00 -5.030877e+07  3.531686e+10
 2023-12-29 07:50:00 -5.030877e+07  3.531686e+10

 [17038 rows x 2 columns],
 'alpha_hlc_delta_fr_10m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  5.456561e+07  3.665199e+10
 2023-12-29 07:25:00  5.456561e+07  3.665199e+10
 2023-12-29 07:30:00 -4.197355e+07  3.661001e+10
 2023-12-29 07:35:00 -4.197355e+07  3.661001e+10
 2023-12-29 07:50:00 -2.665320e+07  3.657916e+10

 [17038 rows x 2 columns],
 'alpha_typical_ba_ab_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00 -3.816781e+06  2.425384e+10
 2023-12-29 07:25:00 -5.404030e+05  2.425330e+10
 2023-12-29 07:30:00  9.693781e+05  2.425427e+10
 2023-12-29 07:35:00  1.615630e+05  2.425443e+10
 2023-12-29 07:50:00  9.126665e+05  2.425534e+10

 [17038 rows x 2 columns],
 'rsi_kari_heiken_abuw_20m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00           NaN           NaN
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  5.149768e+06  3.675480e+10
 2023-12-29 07:25:00  5.149768e+06  3.675480e+10
 2023-12-29 07:30:00  5.149768e+06  3.675480e+10
 2023-12-29 07:35:00  5.149768e+06  3.675480e+10
 2023-12-29 07:50:00  5.149768e+06  3.675480e+10

 [17038 rows x 2 columns],
 'pgo_indi_ab_uw_bgd10m_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00 -9.539306e+06 -9.539306e+06
 2022-09-05 02:20:00  1.933643e+07  9.797125e+06
 2022-09-05 02:25:00 -9.959417e+06 -1.622916e+05
 ...                           ...           ...
 2023-12-29 07:20:00  4.619380e+07  3.641218e+10
 2023-12-29 07:25:00 -1.679774e+07  3.639538e+10
 2023-12-29 07:30:00 -2.519662e+07  3.637018e+10
 2023-12-29 07:35:00 -4.199436e+06  3.636598e+10
 2023-12-29 07:50:00 -2.666642e+07  3.633932e+10

 [17038 rows x 2 columns],
 'mfi_gap_abuw_resample30m_15m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00           NaN           NaN
 2022-09-05 02:10:00           NaN           NaN
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  5.445455e+07  2.132706e+10
 2023-12-29 07:25:00  5.445455e+07  2.132706e+10
 2023-12-29 07:30:00 -4.188812e+06  2.132287e+10
 2023-12-29 07:35:00 -4.188812e+06  2.132287e+10
 2023-12-29 07:50:00 -4.188812e+06  2.132287e+10

 [17038 rows x 2 columns],
 'VN_buy_sell_combat_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00 -4.296861e+06 -4.296861e+06
 2022-09-05 02:15:00 -4.882797e+06 -9.179658e+06
 2022-09-05 02:20:00  1.464839e+07  5.468732e+06
 2022-09-05 02:25:00 -6.835915e+06 -1.367183e+06
 ...                           ...           ...
 2023-12-29 07:20:00  4.619996e+07  4.043207e+10
 2023-12-29 07:25:00 -1.679998e+07  4.041527e+10
 2023-12-29 07:30:00 -2.519998e+07  4.039007e+10
 2023-12-29 07:35:00 -4.199996e+06  4.038587e+10
 2023-12-29 07:50:00 -2.666998e+07  4.035920e+10

 [17038 rows x 2 columns],
 'zscore_vwap_ab_uw_bgd15m_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  4.620548e+07  2.371334e+10
 2023-12-29 07:25:00 -1.680199e+07  2.369654e+10
 2023-12-29 07:30:00 -2.520299e+07  2.367134e+10
 2023-12-29 07:35:00 -4.200499e+06  2.366714e+10
 2023-12-29 07:50:00 -2.667317e+07  2.364047e+10

 [17038 rows x 2 columns],
 'Ultimate_Oscillator_arbit_unwind_cutloss_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  1.714923e+07  4.380728e+10
 2023-12-29 07:25:00 -1.554867e+07  4.379174e+10
 2023-12-29 07:30:00 -1.495613e+07  4.377678e+10
 2023-12-29 07:35:00 -2.492688e+06  4.377429e+10
 2023-12-29 07:50:00 -1.582857e+07  4.375846e+10

 [17038 rows x 2 columns],
 'alpha_gap_vwap_med_au_5m_1':                             TOTAL         value
 Date
 2022-09-05 02:05:00  0.000000e+00  0.000000e+00
 2022-09-05 02:10:00  0.000000e+00  0.000000e+00
 2022-09-05 02:15:00  0.000000e+00  0.000000e+00
 2022-09-05 02:20:00  0.000000e+00  0.000000e+00
 2022-09-05 02:25:00  0.000000e+00  0.000000e+00
 ...                           ...           ...
 2023-12-29 07:20:00  0.000000e+00  2.024463e+10
 2023-12-29 07:25:00 -3.397975e+07  2.021065e+10
 2023-12-29 07:30:00 -1.960370e+07  2.019105e+10
 2023-12-29 07:35:00 -3.267284e+06  2.018778e+10
 2023-12-29 07:50:00 -2.148458e+07  2.016630e+10

 [17038 rows x 2 columns]}

In [156]:
folder_path = '/home/dat/Desktop/RL project/env/main/pos'
alpha_pos = {}

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        temp = pd.read_csv(file_path, index_col = 0, parse_dates=True)[['VN30F1M']]
        temp.rename(columns = {'VN30F1M':'position'}, inplace = True)
        alpha_pos[filename[:-4]] = temp.reindex(ohlcv.index).ffill()

In [157]:
list(alpha_pnl.keys())

['VN_event_mfi_gap_co_5m_1',
 'DMI_top30stock_10m_1',
 'InverseFisher_RSI_alpha_5m_1',
 'VN_gap_co_volume_support_5m_1',
 'alpha_fr_ba_10m_1',
 'Buysellgap_top20stock_15m_1',
 'alpha_event_rsi_bgd10m_5m_1',
 'alpha_doublegap_aroon_15m_1',
 'sar_of_rsi_frbs_12m_1',
 'cmo_softmax_mean_std_ab_uw_5m_1',
 'alpha_ret_gapau_foreign_5m_1',
 'Frama_alpha_30mbigger_5m_1',
 'VN_buy_sell_vol_twap_5m_1',
 'wave_period_ba_bgd15m_5m_1',
 'Fisher_bidask_20m_1',
 'cci_heikin_bid_ask_resample15m_5m_1',
 'Rank_TSF_openclose_stock_30m_1',
 'alpha_hlc_delta_fr_10m_1',
 'alpha_typical_ba_ab_5m_1',
 'rsi_kari_heiken_abuw_20m_1',
 'pgo_indi_ab_uw_bgd10m_5m_1',
 'mfi_gap_abuw_resample30m_15m_1',
 'VN_buy_sell_combat_5m_1',
 'zscore_vwap_ab_uw_bgd15m_5m_1',
 'Ultimate_Oscillator_arbit_unwind_cutloss_5m_1',
 'alpha_gap_vwap_med_au_5m_1']

In [158]:
alpha_pos['Rank_TSF_openclose_stock_30m_1'].head(60)

                     position
Date
2022-09-05 02:05:00       NaN
2022-09-05 02:10:00       NaN
2022-09-05 02:15:00       NaN
2022-09-05 02:20:00       NaN
2022-09-05 02:25:00       NaN
2022-09-05 02:30:00    0.0000
2022-09-05 02:35:00    0.0000
2022-09-05 02:40:00    0.0000
2022-09-05 02:45:00    0.0000
2022-09-05 02:50:00    0.0000
2022-09-05 02:55:00    0.0000
2022-09-05 03:00:00    1.0000
2022-09-05 03:05:00    1.0000
2022-09-05 03:10:00    1.0000
2022-09-05 03:15:00    1.0000
2022-09-05 03:20:00    1.0000
2022-09-05 03:25:00    1.0000
2022-09-05 03:30:00    0.1796
2022-09-05 03:35:00    0.1796
2022-09-05 03:40:00    0.1796
2022-09-05 03:45:00    0.1796
2022-09-05 03:50:00    0.1796
2022-09-05 03:55:00    0.1796
2022-09-05 04:00:00   -0.3890
2022-09-05 04:05:00   -0.3890
2022-09-05 04:10:00   -0.3890
2022-09-05 04:15:00   -0.3890
2022-09-05 04:20:00   -0.3890
2022-09-05 04:25:00   -0.3890
2022-09-05 04:30:00   -0.9960
2022-09-05 04:35:00   -0.9960
2022-09-05 06:05:00   -0.9960
2022-09-05 06:10:00   -0.9960
2022-09-05 06:15:00   -0.9960
2022-09-05 06:20:00   -0.9960
2022-09-05 06:25:00   -0.9960
2022-09-05 06:30:00   -0.9971
2022-09-05 06:35:00   -0.9971
2022-09-05 06:40:00   -0.9971
2022-09-05 06:45:00   -0.9971
2022-09-05 06:50:00   -0.9971
2022-09-05 06:55:00   -0.9971
2022-09-05 07:00:00   -0.9933
2022-09-05 07:05:00   -0.9933
2022-09-05 07:10:00   -0.9933
2022-09-05 07:15:00   -0.9933
2022-09-05 07:20:00   -0.9933
2022-09-05 07:25:00   -0.9933
2022-09-05 07:30:00   -0.9970
2022-09-05 07:35:00   -0.9970
2022-09-05 07:50:00   -0.9970
2022-09-06 02:05:00   -0.9970
2022-09-06 02:10:00   -0.9970
2022-09-06 02:15:00   -0.9970
2022-09-06 02:20:00   -0.9970
2022-09-06 02:25:00   -0.9970
2022-09-06 02:30:00    0.0000
2022-09-06 02:35:00    0.0000
2022-09-06 02:40:00    0.0000
2022-09-06 02:45:00    0.0000

In [159]:
18000*25

450000